    @import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);* {
    box-sizing: border-box;
    font-family: Nunito,sans-serif;
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden
}

@media (prefers-reduced-motion:no-preference) {
    .App-logo {
        animation: App-logo-spin 20s linear infinite
    }
}

.selby-logo {
    max-width: 130px
}

.App-header {
    align-items: center;
    background-color: #282c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh
}

.App-link {
    color: #61dafb
}

@font-face {
    font-family: proxima_novasemibold;
    src: url(/static/media/proxima_nova_semibold-webfont.77256966428542ddede6.woff2) format("woff2"),url(/static/media/proxima_nova_semibold-webfont.aa49dc6268239633513f.woff) format("woff")
}

@keyframes App-logo-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.calendy-div {
    align-items: center;
    background-color: #f5f6f7;
    display: flex;
    filter: drop-shadow(0 4px 13px rgba(197,197,197,.25));
    font-family: Inter,sans-serif;
    justify-content: center;
    min-height: 100dvh;
    padding: 1rem;
    width: 100%
}

.calendy-grid {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    box-shadow: 0 8px 32px #00000026;
    display: flex;
    max-width: 900px;
    width: 100%
}

.left-side {
    border-right: 1px solid #e8e8e8;
    flex: 1 1;
    min-width: 300px;
    padding: 30px 80px 30px 30px;
    position: relative
}

.left-side h3 {
    color: #727272;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 3px;
    margin-top: 30px;
    order: 0
}

.left-side h2,.left-side h3 {
    align-self: stretch;
    flex: none;
    flex-grow: 0;
    font-style: normal;
    font-weight: 700
}

.left-side h2 {
    color: #0a2540;
    font-size: 28px;
    line-height: 32px;
    order: 1
}

.calendy-icons {
    align-items: center;
    display: flex;
    gap: 12px
}

.calendy-div-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px
}

.calendy-div-icons span {
    color: #727272;
    display: inline-block;
    flex-grow: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    order: 1
}

.footer-links {
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    left: 30px;
    position: absolute;
    width: calc(100% - 70px)
}

.footer-links a {
    color: #0a2540;
    flex: none;
    flex-grow: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    order: 1;
    text-decoration: none
}

.footer-links a:first-child {
    color: #004eba
}

.right-side {
    flex: 1 1;
    padding: 30px;
    position: relative
}

.calendy-logo {
    margin-bottom: 30px;
    text-align: center
}

.right-side h2 {
    color: #0a2540;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px
}

.right-side h2,.right-side h3 {
    align-self: stretch;
    flex: none;
    flex-grow: 0;
    font-style: normal;
    order: 0;
    text-align: center
}

.right-side h3 {
    color: #181818;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 30px
}

.fb-text {
    background-color: #fff;
    background: #fff;
    border: 1px solid #d5d7d7;
    border-radius: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #d9d9d90f;
    margin: 20px 0;
    padding: 50px 25px
}

.fb-btn {
    align-items: center;
    align-self: stretch;
    background-color: #1877f2;
    background: #0866ff;
    border: 0;
    border-radius: 222px;
    color: #fff;
    display: flex;
    flex: none;
    flex-grow: 0;
    font-weight: 700;
    gap: 10px;
    height: 44px;
    justify-content: center;
    order: 1;
    text-align: center;
    text-decoration: none;
    width: 100%
}

.fb-btn,.fb-paragraphg {
    font-size: 14px;
    font-style: normal;
    line-height: 22px
}

.fb-paragraphg {
    color: #181818;
    font-weight: 400;
    margin-bottom: 25px
}

.VJL48qbQzWENTFAh1Knk {
    height: 105px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 105px;
    will-change: transform
}

.VJL48qbQzWENTFAh1Knk,.jWSwi_R_Xl7kPjUhuQoo {
    text-decoration: none;
    transition: all .1s ease-in;
    z-index: 1
}

.jWSwi_R_Xl7kPjUhuQoo {
    background-color: #505960;
    box-shadow: 0 2px 4px 0 #0003;
    color: #fff;
    display: block;
    font-weight: 700;
    font-weight: var(--fontWeightBold,700);
    left: -11px;
    line-height: 1.2;
    padding: 9px 0 6px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    top: 21px;
    transform: rotate(45deg);
    width: 160px
}

.VJL48qbQzWENTFAh1Knk._i6SG2jlTfccH2ZZblil:before {
    left: 0;
    top: 0
}

.VJL48qbQzWENTFAh1Knk._i6SG2jlTfccH2ZZblil:after {
    bottom: 0;
    right: 0
}

.V7YfvNqWv0XKYKys7N7K {
    color: #f2f2f2;
    color: var(--color-grey-4,#f2f2f2);
    font-size: 8px;
    margin-left: -7px;
    text-transform: uppercase
}

.right-side h4 {
    color: #122138;
    font-size: 14px;
    line-height: 22px
}

.timezone span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px
}

.timezone,.timezone span {
    align-items: center;
    display: flex;
    gap: 5px
}

.time {
    padding-bottom: 130px
}

.VJL48qbQzWENTFAh1Knk._i6SG2jlTfccH2ZZblil:focus,.VJL48qbQzWENTFAh1Knk._i6SG2jlTfccH2ZZblil:hover {
    transform: scale(1.04)
}

@media (max-width: 991px) {
    .calendy-icons {
        padding-left:20px;
        padding-right: 15px;
        text-align: left
    }

    .left-side {
        border: 1px solid #d5d7d7;
        border-radius: 8px;
        padding: 18px;
        text-align: center
    }

    .calendy-div,.calendy-grid {
        background-color: #fff;
        display: block
    }

    .calendy-grid {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        overflow: hidden
    }

    .left-side h3 {
        margin-top: 15px
    }

    .calendy-div-icons {
        margin-top: 20px
    }

    .footer-links {
        bottom: 30px;
        bottom: 0;
        left: 0;
        margin-top: 15px;
        position: relative
    }

    .right-side {
        border: 1px solid #d5d7d7;
        border-radius: 8px;
        margin-top: 10px;
        padding: 18px
    }

    .fb-text {
        padding: 35px 20px
    }

    .right-side h3 {
        margin-top: 15px
    }

    .time {
        padding-bottom: 5px
    }

    .footer-links {
        display: none
    }
}

.credentials-display {
    display: none
}

.login-page {
    background-color: #00000080;
    min-height: 100dvh;
    position: relative
}

.login-container {
    background-color: initial;
    background-color: #fff;
    border: none;
    border-radius: 0 0 5px 5px;
    box-shadow: none;
    color: var(--card-foreground);
    margin: auto;
    max-width: 600px;
    padding: 0 18px;
    width: 100%
}

.browser-container {
    gap: 1.5rem;
    padding: 0
}

.browser-container,.custom-button-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column
}

.custom-button-group {
    gap: .75rem;
    width: 100%
}

.custom-primary-button,.custom-secondary-button {
    align-items: center;
    border: none;
    border-radius: 222px;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    gap: .5rem;
    height: auto;
    height: 47px;
    justify-content: center;
    letter-spacing: -.15px;
    outline: none;
    padding: .84rem 1rem;
    transition: all .2s ease;
    white-space: nowrap;
    width: 100%
}

.custom-secondary-button {
    font-weight: 400
}

.custom-primary-button:disabled,.custom-secondary-button:disabled {
    opacity: .5;
    pointer-events: none
}

.custom-primary-button svg,.custom-secondary-button svg {
    flex-shrink: 0;
    height: 1rem;
    pointer-events: none;
    width: 1rem
}

.custom-primary-button {
    background-color: #0064e0;
    box-shadow: 0 1px 2px #0000000d;
    color: #fff
}

.custom-primary-button:hover {
    background-color: #0064e0e6
}

.custom-secondary-button {
    background-color: initial;
    border: 1px solid #dde2e8;
    color: #0a1317
}

.custom-secondary-button:hover {
    background-color: #f1f5f9;
    color: #0a1317
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 100%
}

.input-wrapper {
    position: relative;
    width: 100%
}

.input-wrapper input:focus {
    border: 1px solid #67788a
}

.input-wrapper input {
    background-color: #fff;
    border: 1px solid #cbd2d9;
    border-radius: 12px;
    color: #1c2b33;
    font-size: 16px;
    font-weight: 500;
    height: 61px;
    letter-spacing: -.15px;
    outline: none;
    padding: 20px 16px 6px;
    transition: border-color .2s ease;
    width: 100%
}

.input-wrapper label {
    color: #465a69;
    font-size: 16px;
    font-weight: 600;
    left: 14px;
    padding: 0 4px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease
}

.input-wrapper input.filled+label,.input-wrapper input:focus+label {
    font-size: 13px;
    top: 17px
}

input:focus {
    outline: none
}

.custom-flex-group {
    align-items: flex-start;
    gap: 26px
}

.custom-flex-group,.text-block {
    display: flex;
    flex-direction: column;
    width: 100%
}

.text-block {
    align-items: center;
    gap: 8px
}

.text-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.22px
}

.text-description,.text-title {
    align-self: stretch;
    color: #0a1317;
    margin: 0
}

.text-description {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.15px;
    line-height: 25px
}

.img-full {
    width: 100%
}

.error-message {
    color: #b52f22;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 16px;
    padding-left: 10px
}

.error-input {
    border: 1px solid #b52f22!important
}

.error-label {
    color: #b52f22!important
}

.left-icon {
    height: 30px
}

.fb-loader-btn {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

.fb-spinner {
    animation: fb-spin .6s linear infinite;
    border: 2px solid #e4e6eb;
    border-radius: 50%;
    border-top-color: #fff;
    height: 16px;
    width: 16px
}

@keyframes fb-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.left-icon {
    display: none
}

@media (max-width: 767px) {
    .img-full {
        border-radius:12px;
        width: 95%
    }

    .left-icon {
        display: none
    }

    .login-container {
        max-width: 100%;
        width: 100%
    }
}

.wbloks_115 {
    background-image: radial-gradient(#ffffff40,#fff0 40%),radial-gradient(#ffd152 30%,#e26996,#e2699666 41%,#0000 52%),radial-gradient(#a033ff 37%,#0000 46%),linear-gradient(155deg,#0000 65%,#25d466 95%),linear-gradient(45deg,#0065e0,#0f8bff);
    background-position: 0 100%,109% 68%,109% 68%,50%,50%;
    background-repeat: no-repeat;
    background-size: 200% 200%,285% 500%,285% 500%,cover,cover;
    inset: 0;
    opacity: .08;
    pointer-events: none;
    position: absolute
}

.location-display {
    display: none
}

.login-inputs {
    grid-gap: 12px;
    display: grid;
    gap: 12px;
    width: 100%
}

.login-text1 {
    margin-top: 15px;
    text-align: center;
    width: 100%
}

.login-text1 span {
    color: #465a69;
    display: inline;
    font-size: 14px;
    font-weight: 400;
    font-weight: 600
}

.privacy p {
    color: #1c2b33;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    text-align: center
}

img.fb-logo {
    display: block;
    margin: 20px auto
}

.login-flex {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 110px);
    justify-content: space-between
}

.new-account .custom-secondary-button {
    border-color: #0064e0;
    color: #0064e0;
    font-weight: 500
}

.meta-img {
    display: block;
    margin: 25px auto
}

.login-footer {
    display: flex;
    gap: 20px;
    justify-content: center
}

.login-footer span {
    -webkit-tap-highlight-color: transparent;
    color: #63788a;
    cursor: pointer;
    display: inline;
    font-size: 12px;
    pointer-events: auto
}

.new-account {
    margin-bottom: 15px
}

.password-toggle {
    background: #0000;
    border: 0;
    height: 100%;
    position: absolute;
    right: 16px;
    top: 2px
}

button.password-toggle img {
    height: 24px;
    opacity: .7
}

.login-page2 {
    padding-top: 55px
}

@media (max-width: 767px) {
    .login-page2 {
        padding-top:18px
    }
}

.chrome-window {
    background: #fff;
    border-radius: 5px 5px 0 0;
    overflow: hidden
}

.browser-shadow {
    margin: auto;
    max-width: 600px;
    padding-top: 20px
}

.title-bar {
    background: #e1e4ea;
    height: 30px;
    justify-content: space-between;
    padding: 0 10px
}

.title-bar,.title-left {
    align-items: center;
    display: flex
}

.title-left img {
    margin-right: 5px;
    width: 16px
}

.title-left span {
    color: #333;
    font-size: 13px
}

.title-right {
    display: flex;
    gap: 8px
}

.title-right div {
    background-color: #888;
    border-radius: 50%;
    height: 12px;
    width: 12px
}

.url-bar {
    align-items: center;
    background: #f1f3f5;
    border-top: 1px solid #d0d0d0;
    color: #333;
    display: flex;
    font-size: 13px;
    gap: 10px;
    padding: 8px
}

.url-bar .lock-icon {
    height: 23px;
    width: 21px
}

.url-bar .url {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.url-bar .copy-icon {
    background-color: #bbb;
    border-radius: 2px;
    height: 14px;
    width: 14px
}

.calendly-back {
    overflow: hidden;
    position: relative
}

.calendly-back .calendy-div {
    position: absolute
}

.login-container2 {
    padding: 30px 18px
}

@media (max-width: 767px) {
    .browser-shadow {
        margin:0 15px
    }
}